.cameras-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
}
.cameras-container > * {
  margin-bottom: 20px;
}
.camera-preview {
  position: relative;
  width: 100%;
  max-width: 540px;
  margin-bottom: 20px;
  overflow: hidden;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.zoom {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
}
.zoom button {
  margin: 5px 0;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: #a7c6e6;
  color: #fff;
  cursor: pointer;
}
.aspect-ratio-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
}
.aspect-ratio-controls button {
  margin-bottom: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: #a7c6e6;
  color: #fff;
  cursor: pointer;
}
.capture-camera {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.capture-camera button {
  border-radius: 50%;
  margin-right:20px;
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: #a7c6e6;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.capture select {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #a7c6e6;
  /* color: #fff; */
  cursor: pointer;
}
.zoom button:hover,
.aspect-ratio-controls button:hover,
.capture-camera button:hover {
  background-color: #adb300;
}
.zoom button:disabled,
.aspect-ratio-controls button:disabled,
.capture-camera button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.gallery img {
  width: 100%;
  height: auto;
  /* object-fit: cover;  */
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.1);
}

.image-container {
  position: relative;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  color: #a7c6e6;
}
.delete-button :hover {
  color: #ff0000;
}

.error {
  color: red;
  font-weight: bold;
}

@media (max-width: 800px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 5px;
  }
}

@media (max-width: 600px) {
  .camera-preview {
    width: 100%;
    height: auto;
  }
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 5px;
  }
}
